#%RAML 1.0
title: MagicRequest
version: v1
baseUri: http://api.samplehost.com/{version}
types:
  Items:
    displayName: Items
    type: object
    properties:
      id: number
      title: string
      author: string
      status: string
  Users:
    displayName: Users
    type: object
    properties:
      id: number
      lastname: string
      firstname: string
      kerbid: string
  Holds:
    displayName: Holds
    type: object
    properties:
      id: number
      userId: number
      itemId: number
/items/{itemId}:
  get:
    description: displays details about a single Item.
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "data": {
                  "id" : 123456,
                  "title": "I am a title",
                  "author": "Some guy",
                  "status": "Available"
                },
                "success": true,
                "status": 200
              }
      404:
        body:
          application/json:
            example: |
              { 
                "data": {
                  "message": "Item not found"
                },
                "success": false,
                "status": 404
              }
/users/{userId}:
  get:
    description: displays details about a single User.
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "id" : 987654,
                "lastname": "Lastoson",
                "firstname": "Firsto",
                "kerbid": "flastoson"
              }
      404:
        body:
          application/json:
            example: |
              { 
                "data": {
                  "message": "User not found"
                },
                "success": false,
                "status": 404
              }            
/holds:
  /{holdId}:
    get:
      description: displays details about a single Hold.
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "id" : 77,
                  "userId": 987654,
                  "itemId": 123456
                }
        404:
          body:
            application/json:
              example: |
                { 
                  "data": {
                    "message": "Hold not found"
                  },
                  "success": false,
                  "status": 404
                }    
    post:
      description: create new hold for a specific item for a specific user.
      body:
        application/json:
          example: |
            {
              "userId": 987654,
              "itemId": 123456
            }
      responses:
        201:
          body:
            application/json:
              example: |
                {
                  "Hold created": "true"
                }
    delete:
      description: delete a specific hold.
      body:
        application/json:
          example: |
            {
              "holdId": 77
            }
      responses:
        204:
